body {
  width : 100vw;
  height : 100vh;
  margin : 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: monospace;
  background-repeat: repeat;
  animation: animatedBackground 10s linear infinite alternate;
  font-size: 2em;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}

.animate {
  background-image: url(./assets/Konami-code.png);
}

h3 {
  color : red;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.input {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: black;
}

input {
  font-family: monospace;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: .75em;
}

#surprise {
  justify-content: center;
  display: flex;
  flex-direction: column;
}
